button, div, form, input {
	margin: 5px;
}

img {
	max-width: 200px;
	max-height: 200px;
}

.videogameHolder {
	float: left;
}

#videogame-form {
	float: right;
}

.btn-default {
	background-color: #4aaaa5;
	color: #ffffff;
	font-weight: bold
}

body {
	background-color: #f1f1f1;
}

.jumbotron {
	background-color: #009688;
	color: #ffffff;
	font-family: 'MV Boli', Helvetica, sans-serif;
}

p {
	font-weight: bold;
}

